@use '~layout' as layout;
@use '~styling' as styling;

.spinner-container {
    @include layout.flex-center(true, true);
    @include layout.wide;

    .spinner {
        @include layout.flex-center(true, true);
        @include layout.wide;

        position: relative;
        max-width: 900px;

        .spinner-wheel {
            @include styling.rounded(50%);

            background-color: black;
            width: 50%;
            padding-bottom: 50%;
            position: relative;

            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-position: center;

            .spinner-item {
                @include layout.flex-center(true, true);

                position: absolute;
                left: 50%;
                top: 50%;

                // Rotate around the center based on child index
                transform-origin: 0 0;
                width: 50%;
            }
        }

        .pointer {
            @include layout.flex(true);

            position: absolute;
            top: 50%;
            left: 75%;
            transform: translate(-5px, -50%);

            .marker {
                background-color: black;
                width: 10px;
                height: 10px;
                rotate: 45deg;
            }

            span {
                margin-left: 10px;
            }
        }
    }

    .spin-btn {
        margin-top: 10px;
        font-size: 20px;
        padding: 10px 20px;
    }
}